CECS_550_Program/Service References/Database_Service/SchedService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SchedngoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SchedngoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="ArrayOfUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers" nillable="true" type="tns:ArrayOfUsers" />
</xs:schema>